{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot{% endblock %}

{% block body %}
<div>
<h1> Garage V.Parrot</h1>
<h2> Nos Services</h2>
<h3> Révision de votre véhicule </h3>
<p> Un paragraphe </p>
</div>
{% endblock %}
