{% extends 'base.html.twig' %}

{% block body %}
	<section class="container m-5">
		<h1 class="text-center mt-5">
			Approuver
		</h1>
		<form>
			{{ form_start(comment_approval_form) }}
			{{ form_rest(comment_approval_form) }}
			<input type="submit" value="Publier" class="btn btn-danger mt-2">
			{{ form_end(comment_approval_form) }}
		</form>
	</section>
{% endblock %}
