{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-5 mb-5">
		<h1 class="text-center mt-5"> Ajouter un Véhicule d'Occasion </h1>
		
		{# Form to add car #}

		{{ form_start(car_post_form) }}
		{{ form_rest(car_post_form) }}
		<input type="submit" value="Publier">
		{{ form_end(car_post_form) }}
	</div>

{% endblock %}
