{% extends 'base.html.twig' %}

{% block body %}
	
	<h1 class="text-center mt-5"> Contacter le Garage </h1>
	<div class="container mt-5 mb-5">
		{{ form_start(contact_form) }}
		{{ form_rest(contact_form) }}
		<input type="submit" value="Publier" class="btn btn-danger mt-2">
		{{ form_end(contact_form) }}
	</div>

{% endblock %}