{% extends 'base.html.twig' %}

{% block title %}
	Gérer les Employés
{% endblock %}

{% block body %}
	<section class="pt-5 pb-5 text-center">
		<div class="container">
			<h1 class="mb-3">
				Gérer les comptes Employés
			</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 m-2">

				{% for user in users %}
					<div class="col">
						<div class="card text-center" style="width: 18rem;">
							<svg class="card-img-leftv mt-2" alt="icone utilisateur" xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
							<div class="card-body">
								<h5 class="card-title">{{user.username}}</h5>
								<a href="{{ path('delete-user', {'id':user.id}) }}" class="btn btn-danger">Supprimer</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
			<div class=" d-flex justify-content-center mt-4">
				<a href="/user/new" class="btn btn-danger">Ajouter un Employé</a>
			</div>
		</div>
	</section>
{% endblock %}
